<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">
   
    <link rel="shortcut icon" href="assets/images/gt_favicon.png">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="~/content/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="~/content/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="~/content/main.css">


    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html">
                    <img src="~/images/logo2.jpg" alt="Progressus HTML5 template"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Lectures", "Lectures", "Lectures")</li>
                    <li>@Html.ActionLink("Books", "Books", "Books")</li>
                    <li>@Html.ActionLink("Questions", "Questions", "Questions")</li>
                    <li>@Html.ActionLink("About", "About", "About")</li>
                    <li>@Html.ActionLink("Login","Login","Login")</li>
                    <li>@Html.ActionLink("signup","signup","signup")</li>
                </ul>
   
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>


    <!-- /.navbar -->

    <!-- Header -->
    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">E_Learning</h1>
                
                
            </div>
        </div>
    </header>
    <!-- /Header -->

    @RenderBody()

    <footer id="footer" class="top-space">

        <div class="footer1">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Contact</h3>
                        <div class="widget-body">
                            <p>
                                +92312-6187612<br>
                                <a href="mailto:#">mcsf13a054@pucit.edu.pk</a><br>
                                <br>
                                Sant Nagar,Lahore.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Follow me</h3>
                        <div class="widget-body">
                            <p class="follow-me-icons">
                                
                                <a href="https://www.facebook.com/mxaidi1">	<i class="fa fa-facebook fa-2"></i></a>

                            </p>
                        </div>
                    </div>

                    
                </div>
                <!-- /row of widgets -->
            </div>
        </div>

        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav">
                                <a href="#">Home</a> | 
								<a href="index/about">About</a> |
								<a href="index/question">Questions</a> |
								<a href="index/contact">Contact</a> |
								<b><a href="index/signup">Sign up</a></b>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="text-right">
                                Copyright &copy; 2014, Your name. Designed by : Syed Messum Ali Zaidi </p>
                        </div>
                    </div>

                </div>
                <!-- /row of widgets -->
        </div>
            </div>
        
    </footer>



    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
